<script>
	$(function() {
		 $( "#tabs1" ).tabs({
                /*
		beforeLoad: function( event, ui ) {
		ui.jqXHR.error(function() {
		ui.panel.html(
		"Couldn't load this tab. We'll try to fix this as soon as possible. " +
		"If this wouldn't be a demo." );
		});
		}
                 */
		});
                $( "#tabs" ).tabs().addClass( "ui-tabs-vertical ui-helper-clearfix" );
		$( "#tabs li" ).removeClass( "ui-corner-top" ).addClass( "ui-corner-left" );
                $( "#tabs3" ).tabs().addClass( "ui-tabs-vertical ui-helper-clearfix" );
		$( "#tabs3 li" ).removeClass( "ui-corner-top" ).addClass( "ui-corner-left" );
                $( "#tabs11" ).tabs().addClass( "ui-tabs-vertical ui-helper-clearfix" );
		$( "#tabs11 li" ).removeClass( "ui-corner-top" ).addClass( "ui-corner-left" );


	});
	</script>

<div id="tabs1">
	<ul>
		<li><a href="#tabs-11">个人信息</a></li>
		<li><a href="#tabs-21">我的运动</a></li>
		<li><a href="#tabs-31">我的成绩</a></li>
                <li><a href="products.html">Tab 1</a></li>
                <li><%= link_to "sign_out", destroy_door_session_path, :method=>:get  %></li>
	</ul>
	<div id="tabs-11">
		<div id="tabs">
	<ul>
		<li><a href="#tabs-1">个人基本信息</a></li>
		<li><a href="#tabs-2">个人身体信息</a></li>
		<li><a href="#tabs-3">密码修改</a></li>
	</ul>
	<div id="tabs-1">
		 
       
        <style type="text/css"> 

  
 .formRow2{ width:700px; clear:both; margin-bottom:10px;}
.formLabel2{float:left;text-align:right;width:100px;}
  
  </style> 
        <div class="form_content_left">
        <%= render "form_content_left" %>
            </div>
         <div>
        <%= render "hello" %>
        </div>
	</div>
	<div id="tabs-2">
		<h2>Content heading 2</h2>
		<p>Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra massa metus id nunc. Duis scelerisque molestie turpis. Sed fringilla, massa eget luctus malesuada, metus eros molestie lectus, ut tempus eros massa ut dolor. Aenean aliquet fringilla sem. Suspendisse sed ligula in ligula suscipit aliquam. Praesent in eros vestibulum mi adipiscing adipiscing. Morbi facilisis. Curabitur ornare consequat nunc. Aenean vel metus. Ut posuere viverra nulla. Aliquam erat volutpat. Pellentesque convallis. Maecenas feugiat, tellus pellentesque pretium posuere, felis lorem euismod felis, eu ornare leo nisi vel felis. Mauris consectetur tortor et purus.</p>
         <%= render "chart" %>
         
	</div>
	<div id="tabs-3">
		<h2>Content heading 3</h2>
		<div id="editPassword">
                </div>
                <%= link_to "edit password", edit_door_registration_path, :remote=>true %> 
		<p>Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. Nullam ac lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent blandit adipiscing velit. Suspendisse potenti. Donec mattis, pede vel pharetra blandit, magna ligula faucibus eros, id euismod lacus dolor eget odio. Nam scelerisque. Donec non libero sed nulla mattis commodo. Ut sagittis. Donec nisi lectus, feugiat porttitor, tempor ac, tempor vitae, pede. Aenean vehicula velit eu tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit. Fusce in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.</p>
        <script>
	$(function() {
		$( "#datepicker" ).datepicker({
			showOn: "button",
			buttonImage: "<%= asset_path('calendar.gif') %>",
                        dateFormat: "yy/mm/dd",
			buttonImageOnly: true
		});
 
	});
	</script>
        <p>Date: <input type="text" id="datepicker"></p>
        <%= render "world" %>
        <%= image_tag ("calendar.gif") %>
	</div>
</div>

<div class="demo-description">
<p>Click tabs to swap between content that is broken into logical sections.</p>
</div>
	</div>
	<div id="tabs-21">
	<div id="tabs3">
	<ul>
		<li><a href="#tabs-21">Nunc tincidunt</a></li>
		<li><a href="#tabs-22">Proin dolor</a></li>
		<li><a href="#tabs-23">Aenean lacinia</a></li>
	</ul>
	<div id="tabs-21">
		<h2>Content heading 1</h2>
		<p>Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et lorem. Mauris dapibus lacus auctor risus. Aenean tempor ullamcorper leo. Vivamus sed magna quis ligula eleifend adipiscing. Duis orci. Aliquam sodales tortor vitae ipsum. Aliquam nulla. Duis aliquam molestie erat. Ut et mauris vel pede varius sollicitudin. Sed ut dolor nec orci tincidunt interdum. Phasellus ipsum. Nunc tristique tempus lectus.</p>
	</div>
	<div id="tabs-22">
		<h2>Content heading 2</h2>
		<p>Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra massa metus id nunc. Duis scelerisque molestie turpis. Sed fringilla, massa eget luctus malesuada, metus eros molestie lectus, ut tempus eros massa ut dolor. Aenean aliquet fringilla sem. Suspendisse sed ligula in ligula suscipit aliquam. Praesent in eros vestibulum mi adipiscing adipiscing. Morbi facilisis. Curabitur ornare consequat nunc. Aenean vel metus. Ut posuere viverra nulla. Aliquam erat volutpat. Pellentesque convallis. Maecenas feugiat, tellus pellentesque pretium posuere, felis lorem euismod felis, eu ornare leo nisi vel felis. Mauris consectetur tortor et purus.</p>
        <%= form_tag user_path, :method=>'get', :id=>"ajax_search" do %>
<%= text_field_tag :search, params[:search] %>
<%= submit_tag "search", :name=>nil %>
<div id="ajax">
<%= render "ajax" %>
</div>
<% end %>
	</div>
	<div id="tabs-23">
		<h2>Content heading 3</h2>
		<p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a, lacus.</p>
		<p>Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. Nullam ac lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent blandit adipiscing velit. Suspendisse potenti. Donec mattis, pede vel pharetra blandit, magna ligula faucibus eros, id euismod lacus dolor eget odio. Nam scelerisque. Donec non libero sed nulla mattis commodo. Ut sagittis. Donec nisi lectus, feugiat porttitor, tempor ac, tempor vitae, pede. Aenean vehicula velit eu tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit. Fusce in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.</p>
	</div>
</div>	 

	</div>
	<div id="tabs-31">
		<p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a, lacus.</p>
		 
	</div>
</div>

<div class="demo-description">
<p>Click tabs to swap between content that is broken into logical sections.</p>

</div>
